@using System.Web
@model List<EmployeeModel>

@{
    ViewData["Title"] = "Home Page";
}
@* 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

<h2>Employees</h2>
@if(Model != null && Model.Count > 0)
{

    <table class="table">
        <thead>
        <tr>
            
            <th>
                Name
            </th>
            <th>
                Total work hours
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var e in Model)
        {
            if (e.EmployeeName != null)
            {


                var rowColor = (e.TotalTimeWorked < 100) ? "low-hours" : "";
            <tr class="@rowColor">
                <td>
                    @e.EmployeeName
                </td>
                <td>
                    @Math.Round(e.TotalTimeWorked, 1)
                </td>
            </tr>
            }
        }
        </tbody>
    </table>
    
    List<string> labels = new List<string>();
    List<double> values = new List<double>();

    foreach (var data in ViewBag.ChartData)
    {
        labels.Add("'" + data.Label + "'");
        values.Add(data.Value);
    }

<div id="PieChartDiv">
        <canvas id="employeeChart"></canvas>
        <button id="downloadBTN">Download as .PNG</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
        var ctx = document.getElementById('employeeChart').getContext('2d');
        var employeeChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [@Html.Raw(string.Join(",", labels))],
            datasets: [{
                data: [@Html.Raw(string.Join(",", values))],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 206, 86, 0.7)',
                    'rgba(145, 59, 52, 0.7)',
                    'rgba(71, 145, 52, 0.7)',
                    'rgba(52, 69, 145, 0.7)',
                    // Add more colors as needed
                ]
            }]
        }
    });
        document.getElementById('downloadBTN').addEventListener('click', function () {
            var url = employeeChart.toBase64Image();
        var link = document.createElement('a');
        link.href = url;
        link.download = 'chart.png';
        link.click();
    });
</script>

    
}
else
{
    <p>@ViewBag.Message</p>
}