html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.low-hours{
    background-color: slategray;
}
#PieChartDiv {
    width: 600px;
    height: 600px;
    margin: 30px auto;
}
#downloadBTN {
    float: right;
    background-color: aquamarine;
    border-radius: 10px;
}
#downloadBTN:hover{
    transition:ease 0.5s;
    border-radius: 0px;
}
tr:hover {
    background-color: lightgray;
}